.search {
    margin-top: 15px;
    margin-left: 20px;
    position: relative;
    left: 50px;

    &__input {
        height: 25px;
        border: 0px transparent;
        border-bottom: 1px solid black;
        outline: none;
        padding-left: 25px;
    }

    &__faIcon {
        margin-left: 15px;
        position: absolute;
        left: -14px;
        color: #888b98;
    }

    // &__button {
    //     background: #9bc837;
    //     color: white;
    //     margin-left: 15px;
    //     padding: 5px;
    //     border-radius: 7px;
    //     outline: none;
    //     &:focus {
    //         background: #b2e599;
    //     }
    // }


}