.search {
    margin-top: 15px;
    margin-left: 60px;
    position: relative;
    &__input {
        height: 25px;
        border: 0px transparent;
        border-bottom: 1px solid black;
        outline: none;
        padding-left: 25px;
    }

    &__faIcon {
        margin-left: 15px;
        position: absolute;
        left: -14px;
        color: #888b98;
    }
}