<div class="header">
    <div class="header__item">
        
        <a [routerLink]="['/home']">
            <img class="header__logo" src="assets/images/logo.jpg" alt="">
        </a>
    </div>
    <div class="header__item">
        <div class="header__link"  *ngIf="userFirstName | async; else userLogged" >
            <p class="header__link">{{userFirstName | async}}</p>
            <p class="header__link" (click)="logOfUser()">Log off</p>
        </div>
        <ng-template #userLogged>
            <a class="header__link" [routerLink]="['/userLogIn']">Log in</a>
        </ng-template>       
    </div>
</div>
