@import 'styles';

.login {
    @include  borderShadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid transparent;
    border-radius: 10px;
    max-width: 450px;
    height: 350px;

    &__input {
        margin: 0 auto;
        border: transparent;
        border-bottom: 1px solid black;
        outline: none;
        width: 80%;
        margin-bottom: 30px;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    &__email {
        margin: 0 auto;
        padding-bottom: 21px;
    }
    &__error {
        position: sticky;
        bottom: 21.5rem;
        margin-left: 161px;
    }
    &__errors {
        color: red;
    }
    &__button {
        @include buttonCourses;
        width: 30%;
        margin: 0 auto;
    }
}

@media (max-width: 570px) {

    .login {
        margin-bottom: 34px;

        &__error {
            bottom: 22rem;
            margin-left: 114px;
        }
        &__email {
            margin-left: 62px;
        }
        &__button {
            padding: 10px 20px;
        }
    }
}