@import 'styles';

.login {
    @include  borderShadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid transparent;
    border-radius: 10px;
    max-width: 450px;
    height: 350px;

    &__input {
        margin: 0 auto;
        border: transparent;
        border-bottom: 1px solid black;
        outline: none;
        width: 80%;
        margin-bottom: 30px;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    &__email {
        margin: 0 auto;
        padding-bottom: 21px;
    }
    &__error {
        position: fixed;
        left: 45%;
        top: 16.5rem;
        color: red;
    }
    &__errors {
        position: fixed;
        left: 26.5rem;
        top: 19.5rem;
        color: red;
    }
    &__button {
        @include buttonCourses;
        width: 30%;
        margin: 0 auto;
    }
}
