<form class="course__form" [formGroup]="formCourse" novalidate>

    <div class="course__form-item">

        <input type="text" class="course__form-input form-width"
         [ngStyle]="{'margin-right': '46px'}"
          formControlName="duration" 
          placeholder="Change Duration:">

        <input class="course__form-input" formControlName="title" placeholder="Change Title:" />

        <input class="course__form-input" formControlName="description" placeholder="Change Text:"/>
        
        <div class="course__form-button">
            <button class="button__item" (click)="cancelClick()">Cancel</button>
            <button class="button__item width__changed"
                (click)="submitCourse(formCourse.value)"
             >{{submitButtonText}}</button>
        </div>
    </div>    
</form>
