@import 'styles';

.card {
    @include  borderShadow();
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 25px;
    padding-bottom: 15px; 
    &__faIcon {
        margin-right: 10px;
    }
    
    &__title {
        margin-left: 20px;
        margin-top: 20px;
        font-weight: bold;
    
    }
    &__text {
        padding-left: 20px;
        padding-top: 20px;
    }
    &__button {
       display: flex;
       margin-left: 50px;
    }
    &__button-item {
       @include buttonCourses();
       display: flex;
       align-items: center;
       
    }
}
