<div class="card" appCourse [date]="course.date">
    <div class="card-wrapp">    
        <div class="card__time">
            <div class="">
                <h1 class="card__title">{{ course.title }}</h1> 
            </div>
            <div class="">
                <p class="card__time-item">
                    <fa-icon  [icon]="faClock"  [ngStyle]="{ 'margin-left': '25px'}"></fa-icon>
                    {{ course.duration | duration}}
                </p>
                <p class="card__time-item">
                    <fa-icon  [icon]="faCalendar" [ngStyle]="{ 'margin-left': '25px'}"></fa-icon>
                    {{ course.date | date:'dd MMMM yyyy':null:'ru' }}
                </p>
            </div>       
        </div>
        <div class="">
            <p class="card__text">{{ course.description }}</p>
        </div>
    </div>

    <div class="card__button">
        <button (click)="setDataCourse(course)" class="card__button-item">
            <fa-icon class="card__faIcon"  [icon]="faPensil"></fa-icon>Edit
        </button>
        <button class="card__button-item" (click)="deleteCardCourses(course.id)">
            <fa-icon class="card__faIcon" [icon]="fatrash"></fa-icon>Delete
        </button>
    </div>
</div>   
