@import 'styles';

.card {
    @include  borderShadow;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 25px;
    padding-bottom: 15px; 
    &__faIcon {
        margin-right: 10px;
    }
    &__time {
        display: flex;
        align-items: baseline;
    }
    
    &__title {
        margin-left: 20px;
        margin-top: 20px;
        font-weight: bold;
    
    }
    &__text {
        padding-left: 20px;
        padding-top: 20px;
    }
    &__button {
       display: flex;
       margin-left: 50px;
    }
    &__button-item {
       @include buttonCourses;
       display: flex;
       align-items: center;
       
    }
}
.card-wrapp {
    width: 70%;
}
@media ( min-width: 640px) and (max-width: 940px) {
    .card__time {
        flex-direction: column;
}
} 

@media ( min-width: 320px) and (max-width: 640px) {
    .card {
        flex-direction: column;
        &__text {
            margin-bottom: 15px;
        }
        &__time {
            display: flow-root;
        }
    }
  
}